#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #0098B9, 324px 42px #0098B9, 303px 586px #0098B9,
    1312px 276px #0098B9, 451px 625px #0098B9, 521px 1931px #0098B9, 1087px 1871px #0098B9,
    36px 1546px #0098B9, 132px 934px #0098B9, 1698px 901px #0098B9, 1418px 664px #0098B9,
    1448px 1157px #0098B9, 1084px 232px #0098B9, 347px 1776px #0098B9, 1722px 243px #0098B9,
    1629px 835px #0098B9, 479px 969px #0098B9, 1231px 960px #0098B9, 586px 384px #0098B9,
    164px 527px #0098B9, 8px 646px #0098B9, 1150px 1126px #0098B9, 665px 1357px #0098B9,
    1556px 1982px #0098B9, 1260px 1961px #0098B9, 1675px 1741px #0098B9,
    1843px 1514px #0098B9, 718px 1628px #0098B9, 242px 1343px #0098B9, 1497px 1880px #0098B9,
    1364px 230px #0098B9, 1739px 1302px #0098B9, 636px 959px #0098B9, 304px 686px #0098B9,
    614px 751px #0098B9, 1935px 816px #0098B9, 1428px 60px #0098B9, 355px 335px #0098B9,
    1594px 158px #0098B9, 90px 60px #0098B9, 1553px 162px #0098B9, 1239px 1825px #0098B9,
    1945px 587px #0098B9, 749px 1785px #0098B9, 1987px 1172px #0098B9, 1301px 1237px #0098B9,
    1039px 342px #0098B9, 1585px 1481px #0098B9, 995px 1048px #0098B9, 524px 932px #0098B9,
    214px 413px #0098B9, 1701px 1300px #0098B9, 1037px 1613px #0098B9, 1871px 996px #0098B9,
    1360px 1635px #0098B9, 1110px 1313px #0098B9, 412px 1783px #0098B9, 1949px 177px #0098B9,
    903px 1854px #0098B9, 700px 1936px #0098B9, 378px 125px #0098B9, 308px 834px #0098B9,
    1118px 962px #0098B9, 1350px 1929px #0098B9, 781px 1811px #0098B9, 561px 137px #0098B9,
    757px 1148px #0098B9, 1670px 1979px #0098B9, 343px 739px #0098B9, 945px 795px #0098B9,
    576px 1903px #0098B9, 1078px 1436px #0098B9, 1583px 450px #0098B9, 1366px 474px #0098B9,
    297px 1873px #0098B9, 192px 162px #0098B9, 1624px 1633px #0098B9, 59px 453px #0098B9,
    82px 1872px #0098B9, 1933px 498px #0098B9, 1966px 1974px #0098B9, 1975px 1688px #0098B9,
    779px 314px #0098B9, 1858px 1543px #0098B9, 73px 1507px #0098B9, 1693px 975px #0098B9,
    1683px 108px #0098B9, 1768px 1654px #0098B9, 654px 14px #0098B9, 494px 171px #0098B9,
    1689px 1895px #0098B9, 1660px 263px #0098B9, 1031px 903px #0098B9, 1203px 1393px #0098B9,
    1333px 1421px #0098B9, 1113px 41px #0098B9, 1206px 1645px #0098B9, 1325px 1635px #0098B9,
    142px 388px #0098B9, 572px 215px #0098B9, 1535px 296px #0098B9, 1419px 407px #0098B9,
    1379px 1003px #0098B9, 329px 469px #0098B9, 1791px 1652px #0098B9, 935px 1802px #0098B9,
    1330px 1820px #0098B9, 421px 1933px #0098B9, 828px 365px #0098B9, 275px 316px #0098B9,
    707px 960px #0098B9, 1605px 1554px #0098B9, 625px 58px #0098B9, 717px 1697px #0098B9,
    1669px 246px #0098B9, 1925px 322px #0098B9, 1154px 1803px #0098B9, 1929px 295px #0098B9,
    1248px 240px #0098B9, 1045px 1755px #0098B9, 166px 942px #0098B9, 1888px 1773px #0098B9,
    678px 1963px #0098B9, 1370px 569px #0098B9, 1974px 1400px #0098B9, 1786px 460px #0098B9,
    51px 307px #0098B9, 784px 1400px #0098B9, 730px 1258px #0098B9, 1712px 393px #0098B9,
    416px 170px #0098B9, 1797px 1932px #0098B9, 572px 219px #0098B9, 1557px 1856px #0098B9,
    218px 8px #0098B9, 348px 1334px #0098B9, 469px 413px #0098B9, 385px 1738px #0098B9,
    1357px 1818px #0098B9, 240px 942px #0098B9, 248px 1847px #0098B9, 1535px 806px #0098B9,
    236px 1514px #0098B9, 1429px 1556px #0098B9, 73px 1633px #0098B9, 1398px 1121px #0098B9,
    671px 1301px #0098B9, 1404px 1663px #0098B9, 740px 1018px #0098B9, 1600px 377px #0098B9,
    785px 514px #0098B9, 112px 1084px #0098B9, 1915px 1887px #0098B9, 1463px 1848px #0098B9,
    687px 1115px #0098B9, 1268px 1768px #0098B9, 1729px 1425px #0098B9,
    1284px 1022px #0098B9, 801px 974px #0098B9, 1975px 1317px #0098B9, 1354px 834px #0098B9,
    1446px 1484px #0098B9, 1283px 1786px #0098B9, 11px 523px #0098B9, 1842px 236px #0098B9,
    1355px 654px #0098B9, 429px 7px #0098B9, 1033px 1128px #0098B9, 157px 297px #0098B9,
    545px 635px #0098B9, 52px 1080px #0098B9, 827px 1520px #0098B9, 1121px 490px #0098B9,
    9px 309px #0098B9, 1744px 1586px #0098B9, 1014px 417px #0098B9, 1534px 524px #0098B9,
    958px 552px #0098B9, 1403px 1496px #0098B9, 387px 703px #0098B9, 1522px 548px #0098B9,
    1355px 282px #0098B9, 1532px 601px #0098B9, 1838px 790px #0098B9, 290px 259px #0098B9,
    295px 598px #0098B9, 1601px 539px #0098B9, 1561px 1272px #0098B9, 34px 1922px #0098B9,
    1024px 543px #0098B9, 467px 369px #0098B9, 722px 333px #0098B9, 1976px 1255px #0098B9,
    766px 983px #0098B9, 1582px 1285px #0098B9, 12px 512px #0098B9, 617px 1410px #0098B9,
    682px 577px #0098B9, 1334px 1438px #0098B9, 439px 327px #0098B9, 1617px 1661px #0098B9,
    673px 129px #0098B9, 794px 941px #0098B9, 1386px 1902px #0098B9, 37px 1353px #0098B9,
    1467px 1353px #0098B9, 416px 18px #0098B9, 187px 344px #0098B9, 200px 1898px #0098B9,
    1491px 1619px #0098B9, 811px 347px #0098B9, 924px 1827px #0098B9, 945px 217px #0098B9,
    1735px 1228px #0098B9, 379px 1890px #0098B9, 79px 761px #0098B9, 825px 1837px #0098B9,
    1980px 1558px #0098B9, 1308px 1573px #0098B9, 1488px 1726px #0098B9,
    382px 1208px #0098B9, 522px 595px #0098B9, 1277px 1898px #0098B9, 354px 552px #0098B9,
    161px 1784px #0098B9, 614px 251px #0098B9, 526px 1576px #0098B9, 17px 212px #0098B9,
    179px 996px #0098B9, 467px 1208px #0098B9, 1944px 1838px #0098B9, 1140px 1093px #0098B9,
    858px 1007px #0098B9, 200px 1064px #0098B9, 423px 1964px #0098B9, 1945px 439px #0098B9,
    1377px 689px #0098B9, 1120px 1437px #0098B9, 1876px 668px #0098B9, 907px 1324px #0098B9,
    343px 1976px #0098B9, 1816px 1501px #0098B9, 1849px 177px #0098B9, 647px 91px #0098B9,
    1984px 1012px #0098B9, 1336px 1300px #0098B9, 128px 648px #0098B9, 305px 1060px #0098B9,
    1324px 826px #0098B9, 1263px 1314px #0098B9, 1801px 629px #0098B9, 1614px 1555px #0098B9,
    1634px 90px #0098B9, 1603px 452px #0098B9, 891px 1984px #0098B9, 1556px 1906px #0098B9,
    121px 68px #0098B9, 1676px 1714px #0098B9, 516px 936px #0098B9, 1947px 1492px #0098B9,
    1455px 1519px #0098B9, 45px 602px #0098B9, 205px 1039px #0098B9, 793px 172px #0098B9,
    1562px 1739px #0098B9, 1056px 110px #0098B9, 1512px 379px #0098B9, 1795px 1621px #0098B9,
    1848px 607px #0098B9, 262px 1719px #0098B9, 477px 991px #0098B9, 483px 883px #0098B9,
    1239px 1197px #0098B9, 1496px 647px #0098B9, 1649px 25px #0098B9, 1491px 1946px #0098B9,
    119px 996px #0098B9, 179px 1472px #0098B9, 1341px 808px #0098B9, 1565px 1700px #0098B9,
    407px 1544px #0098B9, 1754px 357px #0098B9, 1288px 981px #0098B9, 902px 1997px #0098B9,
    1755px 1668px #0098B9, 186px 877px #0098B9, 1202px 1882px #0098B9, 461px 1213px #0098B9,
    1400px 748px #0098B9, 1969px 1899px #0098B9, 809px 522px #0098B9, 514px 1219px #0098B9,
    374px 275px #0098B9, 938px 1973px #0098B9, 357px 552px #0098B9, 144px 1722px #0098B9,
    1572px 912px #0098B9, 402px 1858px #0098B9, 1544px 1195px #0098B9, 667px 1257px #0098B9,
    727px 1496px #0098B9, 993px 232px #0098B9, 1772px 313px #0098B9, 1040px 1590px #0098B9,
    1204px 1973px #0098B9, 1268px 79px #0098B9, 1555px 1048px #0098B9, 986px 1707px #0098B9,
    978px 1710px #0098B9, 713px 360px #0098B9, 407px 863px #0098B9, 461px 736px #0098B9,
    284px 1608px #0098B9, 103px 430px #0098B9, 1283px 1319px #0098B9, 977px 1186px #0098B9,
    1966px 1516px #0098B9, 1287px 1129px #0098B9, 70px 1098px #0098B9, 1189px 889px #0098B9,
    1126px 1734px #0098B9, 309px 1292px #0098B9, 879px 764px #0098B9, 65px 473px #0098B9,
    1003px 1959px #0098B9, 658px 791px #0098B9, 402px 1576px #0098B9, 35px 622px #0098B9,
    529px 1589px #0098B9, 164px 666px #0098B9, 1876px 1290px #0098B9, 1541px 526px #0098B9,
    270px 1297px #0098B9, 440px 865px #0098B9, 1500px 802px #0098B9, 182px 1754px #0098B9,
    1264px 892px #0098B9, 272px 1249px #0098B9, 1289px 1535px #0098B9, 190px 1646px #0098B9,
    955px 242px #0098B9, 1456px 1597px #0098B9, 1727px 1983px #0098B9, 635px 801px #0098B9,
    226px 455px #0098B9, 1396px 1710px #0098B9, 849px 1863px #0098B9, 237px 1264px #0098B9,
    839px 140px #0098B9, 1122px 735px #0098B9, 1280px 15px #0098B9, 1318px 242px #0098B9,
    1819px 1148px #0098B9, 333px 1392px #0098B9, 1949px 553px #0098B9, 1878px 1332px #0098B9,
    467px 548px #0098B9, 1812px 1082px #0098B9, 1067px 193px #0098B9, 243px 156px #0098B9,
    483px 1616px #0098B9, 1714px 933px #0098B9, 759px 1800px #0098B9, 1822px 995px #0098B9,
    1877px 572px #0098B9, 581px 1084px #0098B9, 107px 732px #0098B9, 642px 1837px #0098B9,
    166px 1493px #0098B9, 1555px 198px #0098B9, 819px 307px #0098B9, 947px 345px #0098B9,
    827px 224px #0098B9, 927px 1394px #0098B9, 540px 467px #0098B9, 1093px 405px #0098B9,
    1140px 927px #0098B9, 130px 529px #0098B9, 33px 1980px #0098B9, 1147px 1663px #0098B9,
    1616px 1436px #0098B9, 528px 710px #0098B9, 798px 1100px #0098B9, 505px 1480px #0098B9,
    899px 641px #0098B9, 1909px 1949px #0098B9, 1311px 964px #0098B9, 979px 1301px #0098B9,
    1393px 969px #0098B9, 1793px 1886px #0098B9, 292px 357px #0098B9, 1196px 1718px #0098B9,
    1290px 1994px #0098B9, 537px 1973px #0098B9, 1181px 1674px #0098B9,
    1740px 1566px #0098B9, 1307px 265px #0098B9, 922px 522px #0098B9, 1892px 472px #0098B9,
    384px 1746px #0098B9, 392px 1098px #0098B9, 647px 548px #0098B9, 390px 1498px #0098B9,
    1246px 138px #0098B9, 730px 876px #0098B9, 192px 1472px #0098B9, 1790px 1789px #0098B9,
    928px 311px #0098B9, 1253px 1647px #0098B9, 747px 1921px #0098B9, 1561px 1025px #0098B9,
    1533px 1292px #0098B9, 1985px 195px #0098B9, 728px 729px #0098B9, 1712px 1936px #0098B9,
    512px 1717px #0098B9, 1528px 483px #0098B9, 313px 1642px #0098B9, 281px 1849px #0098B9,
    1212px 799px #0098B9, 435px 1191px #0098B9, 1422px 611px #0098B9, 1718px 1964px #0098B9,
    411px 944px #0098B9, 210px 636px #0098B9, 1502px 1295px #0098B9, 1434px 349px #0098B9,
    769px 60px #0098B9, 747px 1053px #0098B9, 789px 504px #0098B9, 1436px 1264px #0098B9,
    1893px 1225px #0098B9, 1394px 1788px #0098B9, 1108px 1317px #0098B9,
    1673px 1395px #0098B9, 854px 1010px #0098B9, 1705px 80px #0098B9, 1858px 148px #0098B9,
    1729px 344px #0098B9, 1388px 664px #0098B9, 895px 406px #0098B9, 1479px 157px #0098B9,
    1441px 1157px #0098B9, 552px 1900px #0098B9, 516px 364px #0098B9, 1647px 189px #0098B9,
    1427px 1071px #0098B9, 785px 729px #0098B9, 1080px 1710px #0098B9, 504px 204px #0098B9,
    1177px 1622px #0098B9, 657px 34px #0098B9, 1296px 1099px #0098B9, 248px 180px #0098B9,
    1212px 1568px #0098B9, 667px 1562px #0098B9, 695px 841px #0098B9, 1608px 1247px #0098B9,
    751px 882px #0098B9, 87px 167px #0098B9, 607px 1368px #0098B9, 1363px 1203px #0098B9,
    1836px 317px #0098B9, 1668px 1703px #0098B9, 830px 1154px #0098B9, 1721px 1398px #0098B9,
    1601px 1280px #0098B9, 976px 874px #0098B9, 1743px 254px #0098B9, 1020px 1815px #0098B9,
    1670px 1766px #0098B9, 1890px 735px #0098B9, 1379px 136px #0098B9, 1864px 695px #0098B9,
    206px 965px #0098B9, 1404px 1932px #0098B9, 1923px 1360px #0098B9, 247px 682px #0098B9,
    519px 1708px #0098B9, 645px 750px #0098B9, 1164px 1204px #0098B9, 834px 323px #0098B9,
    172px 1350px #0098B9, 213px 972px #0098B9, 1837px 190px #0098B9, 285px 1806px #0098B9,
    1047px 1299px #0098B9, 1548px 825px #0098B9, 1730px 324px #0098B9, 1346px 1909px #0098B9,
    772px 270px #0098B9, 345px 1190px #0098B9, 478px 1433px #0098B9, 1479px 25px #0098B9,
    1994px 1830px #0098B9, 1744px 732px #0098B9, 20px 1635px #0098B9, 690px 1795px #0098B9,
    1594px 569px #0098B9, 579px 245px #0098B9, 1398px 733px #0098B9, 408px 1352px #0098B9,
    1774px 120px #0098B9, 1152px 1370px #0098B9, 1698px 1810px #0098B9, 710px 1450px #0098B9,
    665px 286px #0098B9, 493px 1720px #0098B9, 786px 5px #0098B9, 637px 1140px #0098B9,
    764px 324px #0098B9, 927px 310px #0098B9, 938px 1424px #0098B9, 1884px 744px #0098B9,
    913px 462px #0098B9, 1831px 1936px #0098B9, 1527px 249px #0098B9, 36px 1381px #0098B9,
    1597px 581px #0098B9, 1530px 355px #0098B9, 949px 459px #0098B9, 799px 828px #0098B9,
    242px 1471px #0098B9, 654px 797px #0098B9, 796px 594px #0098B9, 1365px 678px #0098B9,
    752px 23px #0098B9, 1630px 541px #0098B9, 982px 72px #0098B9, 1733px 1831px #0098B9,
    21px 412px #0098B9, 775px 998px #0098B9, 335px 1945px #0098B9, 264px 583px #0098B9,
    158px 1311px #0098B9, 528px 164px #0098B9, 1978px 574px #0098B9, 717px 1203px #0098B9,
    734px 1591px #0098B9, 1555px 820px #0098B9, 16px 1943px #0098B9, 1625px 1177px #0098B9,
    1236px 690px #0098B9, 1585px 1590px #0098B9, 1737px 1728px #0098B9, 721px 698px #0098B9,
    1804px 1186px #0098B9, 166px 980px #0098B9, 1850px 230px #0098B9, 330px 1712px #0098B9,
    95px 797px #0098B9, 1948px 1078px #0098B9, 469px 939px #0098B9, 1269px 1899px #0098B9,
    955px 1220px #0098B9, 1137px 1075px #0098B9, 312px 1293px #0098B9, 986px 1762px #0098B9,
    1103px 1238px #0098B9, 428px 1993px #0098B9, 355px 570px #0098B9, 977px 1836px #0098B9,
    1395px 1092px #0098B9, 276px 913px #0098B9, 1743px 656px #0098B9, 773px 502px #0098B9,
    1686px 1322px #0098B9, 1516px 1945px #0098B9, 1334px 501px #0098B9, 266px 156px #0098B9,
    455px 655px #0098B9, 798px 72px #0098B9, 1059px 1259px #0098B9, 1402px 1687px #0098B9,
    236px 1329px #0098B9, 1455px 786px #0098B9, 146px 1228px #0098B9, 1851px 823px #0098B9,
    1062px 100px #0098B9, 1220px 953px #0098B9, 20px 1826px #0098B9, 36px 1063px #0098B9,
    1525px 338px #0098B9, 790px 1521px #0098B9, 741px 1099px #0098B9, 288px 1489px #0098B9,
    700px 1060px #0098B9, 390px 1071px #0098B9, 411px 1036px #0098B9, 1853px 1072px #0098B9,
    1446px 1085px #0098B9, 1164px 874px #0098B9, 924px 925px #0098B9, 291px 271px #0098B9,
    1257px 1964px #0098B9, 1580px 1352px #0098B9, 1507px 1216px #0098B9, 211px 956px #0098B9,
    985px 1195px #0098B9, 975px 1640px #0098B9, 518px 101px #0098B9, 663px 1395px #0098B9,
    914px 532px #0098B9, 145px 1320px #0098B9, 69px 1397px #0098B9, 982px 523px #0098B9,
    257px 725px #0098B9, 1599px 831px #0098B9, 1636px 1513px #0098B9, 1250px 1158px #0098B9,
    1132px 604px #0098B9, 183px 102px #0098B9, 1057px 318px #0098B9, 1247px 1835px #0098B9,
    1983px 1110px #0098B9, 1077px 1455px #0098B9, 921px 1770px #0098B9, 806px 1350px #0098B9,
    1938px 1992px #0098B9, 855px 1260px #0098B9, 902px 1345px #0098B9, 658px 1908px #0098B9,
    1845px 679px #0098B9, 712px 1482px #0098B9, 595px 950px #0098B9, 1784px 1992px #0098B9,
    1847px 1785px #0098B9, 691px 1004px #0098B9, 175px 1179px #0098B9, 1666px 1911px #0098B9,
    41px 61px #0098B9, 971px 1080px #0098B9, 1830px 1450px #0098B9, 1351px 1518px #0098B9,
    1257px 99px #0098B9, 1395px 1498px #0098B9, 1117px 252px #0098B9, 1779px 597px #0098B9,
    1346px 729px #0098B9, 1108px 1144px #0098B9, 402px 691px #0098B9, 72px 496px #0098B9,
    1673px 1604px #0098B9, 1497px 974px #0098B9, 1865px 1664px #0098B9, 88px 806px #0098B9,
    918px 77px #0098B9, 244px 1118px #0098B9, 256px 1820px #0098B9, 1851px 1840px #0098B9,
    605px 1851px #0098B9, 634px 383px #0098B9, 865px 37px #0098B9, 943px 1024px #0098B9,
    1951px 177px #0098B9, 1097px 523px #0098B9, 985px 1700px #0098B9, 1243px 122px #0098B9,
    768px 1070px #0098B9, 468px 194px #0098B9, 320px 1867px #0098B9, 1850px 185px #0098B9,
    380px 1616px #0098B9, 468px 1294px #0098B9, 1122px 1743px #0098B9, 884px 299px #0098B9,
    1300px 1917px #0098B9, 1860px 396px #0098B9, 1270px 990px #0098B9, 529px 733px #0098B9,
    1975px 1347px #0098B9, 1885px 685px #0098B9, 226px 506px #0098B9, 651px 878px #0098B9,
    1323px 680px #0098B9, 1284px 680px #0098B9, 238px 1967px #0098B9, 911px 174px #0098B9,
    1111px 521px #0098B9, 1150px 85px #0098B9, 794px 502px #0098B9, 484px 1856px #0098B9,
    1809px 368px #0098B9, 112px 953px #0098B9, 590px 1009px #0098B9, 1655px 311px #0098B9,
    100px 1026px #0098B9, 1803px 352px #0098B9, 865px 306px #0098B9, 1077px 1019px #0098B9,
    1335px 872px #0098B9, 1647px 1298px #0098B9, 1233px 1387px #0098B9, 698px 1036px #0098B9,
    659px 1860px #0098B9, 388px 1412px #0098B9, 1212px 458px #0098B9, 755px 1468px #0098B9,
    696px 1654px #0098B9, 1144px 60px #0098B9;
}

#stars:after {
    content: '';
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #0098B9, 324px 42px #0098B9, 303px 586px #0098B9,
    1312px 276px #0098B9, 451px 625px #0098B9, 521px 1931px #0098B9, 1087px 1871px #0098B9,
    36px 1546px #0098B9, 132px 934px #0098B9, 1698px 901px #0098B9, 1418px 664px #0098B9,
    1448px 1157px #0098B9, 1084px 232px #0098B9, 347px 1776px #0098B9, 1722px 243px #0098B9,
    1629px 835px #0098B9, 479px 969px #0098B9, 1231px 960px #0098B9, 586px 384px #0098B9,
    164px 527px #0098B9, 8px 646px #0098B9, 1150px 1126px #0098B9, 665px 1357px #0098B9,
    1556px 1982px #0098B9, 1260px 1961px #0098B9, 1675px 1741px #0098B9,
    1843px 1514px #0098B9, 718px 1628px #0098B9, 242px 1343px #0098B9, 1497px 1880px #0098B9,
    1364px 230px #0098B9, 1739px 1302px #0098B9, 636px 959px #0098B9, 304px 686px #0098B9,
    614px 751px #0098B9, 1935px 816px #0098B9, 1428px 60px #0098B9, 355px 335px #0098B9,
    1594px 158px #0098B9, 90px 60px #0098B9, 1553px 162px #0098B9, 1239px 1825px #0098B9,
    1945px 587px #0098B9, 749px 1785px #0098B9, 1987px 1172px #0098B9, 1301px 1237px #0098B9,
    1039px 342px #0098B9, 1585px 1481px #0098B9, 995px 1048px #0098B9, 524px 932px #0098B9,
    214px 413px #0098B9, 1701px 1300px #0098B9, 1037px 1613px #0098B9, 1871px 996px #0098B9,
    1360px 1635px #0098B9, 1110px 1313px #0098B9, 412px 1783px #0098B9, 1949px 177px #0098B9,
    903px 1854px #0098B9, 700px 1936px #0098B9, 378px 125px #0098B9, 308px 834px #0098B9,
    1118px 962px #0098B9, 1350px 1929px #0098B9, 781px 1811px #0098B9, 561px 137px #0098B9,
    757px 1148px #0098B9, 1670px 1979px #0098B9, 343px 739px #0098B9, 945px 795px #0098B9,
    576px 1903px #0098B9, 1078px 1436px #0098B9, 1583px 450px #0098B9, 1366px 474px #0098B9,
    297px 1873px #0098B9, 192px 162px #0098B9, 1624px 1633px #0098B9, 59px 453px #0098B9,
    82px 1872px #0098B9, 1933px 498px #0098B9, 1966px 1974px #0098B9, 1975px 1688px #0098B9,
    779px 314px #0098B9, 1858px 1543px #0098B9, 73px 1507px #0098B9, 1693px 975px #0098B9,
    1683px 108px #0098B9, 1768px 1654px #0098B9, 654px 14px #0098B9, 494px 171px #0098B9,
    1689px 1895px #0098B9, 1660px 263px #0098B9, 1031px 903px #0098B9, 1203px 1393px #0098B9,
    1333px 1421px #0098B9, 1113px 41px #0098B9, 1206px 1645px #0098B9, 1325px 1635px #0098B9,
    142px 388px #0098B9, 572px 215px #0098B9, 1535px 296px #0098B9, 1419px 407px #0098B9,
    1379px 1003px #0098B9, 329px 469px #0098B9, 1791px 1652px #0098B9, 935px 1802px #0098B9,
    1330px 1820px #0098B9, 421px 1933px #0098B9, 828px 365px #0098B9, 275px 316px #0098B9,
    707px 960px #0098B9, 1605px 1554px #0098B9, 625px 58px #0098B9, 717px 1697px #0098B9,
    1669px 246px #0098B9, 1925px 322px #0098B9, 1154px 1803px #0098B9, 1929px 295px #0098B9,
    1248px 240px #0098B9, 1045px 1755px #0098B9, 166px 942px #0098B9, 1888px 1773px #0098B9,
    678px 1963px #0098B9, 1370px 569px #0098B9, 1974px 1400px #0098B9, 1786px 460px #0098B9,
    51px 307px #0098B9, 784px 1400px #0098B9, 730px 1258px #0098B9, 1712px 393px #0098B9,
    416px 170px #0098B9, 1797px 1932px #0098B9, 572px 219px #0098B9, 1557px 1856px #0098B9,
    218px 8px #0098B9, 348px 1334px #0098B9, 469px 413px #0098B9, 385px 1738px #0098B9,
    1357px 1818px #0098B9, 240px 942px #0098B9, 248px 1847px #0098B9, 1535px 806px #0098B9,
    236px 1514px #0098B9, 1429px 1556px #0098B9, 73px 1633px #0098B9, 1398px 1121px #0098B9,
    671px 1301px #0098B9, 1404px 1663px #0098B9, 740px 1018px #0098B9, 1600px 377px #0098B9,
    785px 514px #0098B9, 112px 1084px #0098B9, 1915px 1887px #0098B9, 1463px 1848px #0098B9,
    687px 1115px #0098B9, 1268px 1768px #0098B9, 1729px 1425px #0098B9,
    1284px 1022px #0098B9, 801px 974px #0098B9, 1975px 1317px #0098B9, 1354px 834px #0098B9,
    1446px 1484px #0098B9, 1283px 1786px #0098B9, 11px 523px #0098B9, 1842px 236px #0098B9,
    1355px 654px #0098B9, 429px 7px #0098B9, 1033px 1128px #0098B9, 157px 297px #0098B9,
    545px 635px #0098B9, 52px 1080px #0098B9, 827px 1520px #0098B9, 1121px 490px #0098B9,
    9px 309px #0098B9, 1744px 1586px #0098B9, 1014px 417px #0098B9, 1534px 524px #0098B9,
    958px 552px #0098B9, 1403px 1496px #0098B9, 387px 703px #0098B9, 1522px 548px #0098B9,
    1355px 282px #0098B9, 1532px 601px #0098B9, 1838px 790px #0098B9, 290px 259px #0098B9,
    295px 598px #0098B9, 1601px 539px #0098B9, 1561px 1272px #0098B9, 34px 1922px #0098B9,
    1024px 543px #0098B9, 467px 369px #0098B9, 722px 333px #0098B9, 1976px 1255px #0098B9,
    766px 983px #0098B9, 1582px 1285px #0098B9, 12px 512px #0098B9, 617px 1410px #0098B9,
    682px 577px #0098B9, 1334px 1438px #0098B9, 439px 327px #0098B9, 1617px 1661px #0098B9,
    673px 129px #0098B9, 794px 941px #0098B9, 1386px 1902px #0098B9, 37px 1353px #0098B9,
    1467px 1353px #0098B9, 416px 18px #0098B9, 187px 344px #0098B9, 200px 1898px #0098B9,
    1491px 1619px #0098B9, 811px 347px #0098B9, 924px 1827px #0098B9, 945px 217px #0098B9,
    1735px 1228px #0098B9, 379px 1890px #0098B9, 79px 761px #0098B9, 825px 1837px #0098B9,
    1980px 1558px #0098B9, 1308px 1573px #0098B9, 1488px 1726px #0098B9,
    382px 1208px #0098B9, 522px 595px #0098B9, 1277px 1898px #0098B9, 354px 552px #0098B9,
    161px 1784px #0098B9, 614px 251px #0098B9, 526px 1576px #0098B9, 17px 212px #0098B9,
    179px 996px #0098B9, 467px 1208px #0098B9, 1944px 1838px #0098B9, 1140px 1093px #0098B9,
    858px 1007px #0098B9, 200px 1064px #0098B9, 423px 1964px #0098B9, 1945px 439px #0098B9,
    1377px 689px #0098B9, 1120px 1437px #0098B9, 1876px 668px #0098B9, 907px 1324px #0098B9,
    343px 1976px #0098B9, 1816px 1501px #0098B9, 1849px 177px #0098B9, 647px 91px #0098B9,
    1984px 1012px #0098B9, 1336px 1300px #0098B9, 128px 648px #0098B9, 305px 1060px #0098B9,
    1324px 826px #0098B9, 1263px 1314px #0098B9, 1801px 629px #0098B9, 1614px 1555px #0098B9,
    1634px 90px #0098B9, 1603px 452px #0098B9, 891px 1984px #0098B9, 1556px 1906px #0098B9,
    121px 68px #0098B9, 1676px 1714px #0098B9, 516px 936px #0098B9, 1947px 1492px #0098B9,
    1455px 1519px #0098B9, 45px 602px #0098B9, 205px 1039px #0098B9, 793px 172px #0098B9,
    1562px 1739px #0098B9, 1056px 110px #0098B9, 1512px 379px #0098B9, 1795px 1621px #0098B9,
    1848px 607px #0098B9, 262px 1719px #0098B9, 477px 991px #0098B9, 483px 883px #0098B9,
    1239px 1197px #0098B9, 1496px 647px #0098B9, 1649px 25px #0098B9, 1491px 1946px #0098B9,
    119px 996px #0098B9, 179px 1472px #0098B9, 1341px 808px #0098B9, 1565px 1700px #0098B9,
    407px 1544px #0098B9, 1754px 357px #0098B9, 1288px 981px #0098B9, 902px 1997px #0098B9,
    1755px 1668px #0098B9, 186px 877px #0098B9, 1202px 1882px #0098B9, 461px 1213px #0098B9,
    1400px 748px #0098B9, 1969px 1899px #0098B9, 809px 522px #0098B9, 514px 1219px #0098B9,
    374px 275px #0098B9, 938px 1973px #0098B9, 357px 552px #0098B9, 144px 1722px #0098B9,
    1572px 912px #0098B9, 402px 1858px #0098B9, 1544px 1195px #0098B9, 667px 1257px #0098B9,
    727px 1496px #0098B9, 993px 232px #0098B9, 1772px 313px #0098B9, 1040px 1590px #0098B9,
    1204px 1973px #0098B9, 1268px 79px #0098B9, 1555px 1048px #0098B9, 986px 1707px #0098B9,
    978px 1710px #0098B9, 713px 360px #0098B9, 407px 863px #0098B9, 461px 736px #0098B9,
    284px 1608px #0098B9, 103px 430px #0098B9, 1283px 1319px #0098B9, 977px 1186px #0098B9,
    1966px 1516px #0098B9, 1287px 1129px #0098B9, 70px 1098px #0098B9, 1189px 889px #0098B9,
    1126px 1734px #0098B9, 309px 1292px #0098B9, 879px 764px #0098B9, 65px 473px #0098B9,
    1003px 1959px #0098B9, 658px 791px #0098B9, 402px 1576px #0098B9, 35px 622px #0098B9,
    529px 1589px #0098B9, 164px 666px #0098B9, 1876px 1290px #0098B9, 1541px 526px #0098B9,
    270px 1297px #0098B9, 440px 865px #0098B9, 1500px 802px #0098B9, 182px 1754px #0098B9,
    1264px 892px #0098B9, 272px 1249px #0098B9, 1289px 1535px #0098B9, 190px 1646px #0098B9,
    955px 242px #0098B9, 1456px 1597px #0098B9, 1727px 1983px #0098B9, 635px 801px #0098B9,
    226px 455px #0098B9, 1396px 1710px #0098B9, 849px 1863px #0098B9, 237px 1264px #0098B9,
    839px 140px #0098B9, 1122px 735px #0098B9, 1280px 15px #0098B9, 1318px 242px #0098B9,
    1819px 1148px #0098B9, 333px 1392px #0098B9, 1949px 553px #0098B9, 1878px 1332px #0098B9,
    467px 548px #0098B9, 1812px 1082px #0098B9, 1067px 193px #0098B9, 243px 156px #0098B9,
    483px 1616px #0098B9, 1714px 933px #0098B9, 759px 1800px #0098B9, 1822px 995px #0098B9,
    1877px 572px #0098B9, 581px 1084px #0098B9, 107px 732px #0098B9, 642px 1837px #0098B9,
    166px 1493px #0098B9, 1555px 198px #0098B9, 819px 307px #0098B9, 947px 345px #0098B9,
    827px 224px #0098B9, 927px 1394px #0098B9, 540px 467px #0098B9, 1093px 405px #0098B9,
    1140px 927px #0098B9, 130px 529px #0098B9, 33px 1980px #0098B9, 1147px 1663px #0098B9,
    1616px 1436px #0098B9, 528px 710px #0098B9, 798px 1100px #0098B9, 505px 1480px #0098B9,
    899px 641px #0098B9, 1909px 1949px #0098B9, 1311px 964px #0098B9, 979px 1301px #0098B9,
    1393px 969px #0098B9, 1793px 1886px #0098B9, 292px 357px #0098B9, 1196px 1718px #0098B9,
    1290px 1994px #0098B9, 537px 1973px #0098B9, 1181px 1674px #0098B9,
    1740px 1566px #0098B9, 1307px 265px #0098B9, 922px 522px #0098B9, 1892px 472px #0098B9,
    384px 1746px #0098B9, 392px 1098px #0098B9, 647px 548px #0098B9, 390px 1498px #0098B9,
    1246px 138px #0098B9, 730px 876px #0098B9, 192px 1472px #0098B9, 1790px 1789px #0098B9,
    928px 311px #0098B9, 1253px 1647px #0098B9, 747px 1921px #0098B9, 1561px 1025px #0098B9,
    1533px 1292px #0098B9, 1985px 195px #0098B9, 728px 729px #0098B9, 1712px 1936px #0098B9,
    512px 1717px #0098B9, 1528px 483px #0098B9, 313px 1642px #0098B9, 281px 1849px #0098B9,
    1212px 799px #0098B9, 435px 1191px #0098B9, 1422px 611px #0098B9, 1718px 1964px #0098B9,
    411px 944px #0098B9, 210px 636px #0098B9, 1502px 1295px #0098B9, 1434px 349px #0098B9,
    769px 60px #0098B9, 747px 1053px #0098B9, 789px 504px #0098B9, 1436px 1264px #0098B9,
    1893px 1225px #0098B9, 1394px 1788px #0098B9, 1108px 1317px #0098B9,
    1673px 1395px #0098B9, 854px 1010px #0098B9, 1705px 80px #0098B9, 1858px 148px #0098B9,
    1729px 344px #0098B9, 1388px 664px #0098B9, 895px 406px #0098B9, 1479px 157px #0098B9,
    1441px 1157px #0098B9, 552px 1900px #0098B9, 516px 364px #0098B9, 1647px 189px #0098B9,
    1427px 1071px #0098B9, 785px 729px #0098B9, 1080px 1710px #0098B9, 504px 204px #0098B9,
    1177px 1622px #0098B9, 657px 34px #0098B9, 1296px 1099px #0098B9, 248px 180px #0098B9,
    1212px 1568px #0098B9, 667px 1562px #0098B9, 695px 841px #0098B9, 1608px 1247px #0098B9,
    751px 882px #0098B9, 87px 167px #0098B9, 607px 1368px #0098B9, 1363px 1203px #0098B9,
    1836px 317px #0098B9, 1668px 1703px #0098B9, 830px 1154px #0098B9, 1721px 1398px #0098B9,
    1601px 1280px #0098B9, 976px 874px #0098B9, 1743px 254px #0098B9, 1020px 1815px #0098B9,
    1670px 1766px #0098B9, 1890px 735px #0098B9, 1379px 136px #0098B9, 1864px 695px #0098B9,
    206px 965px #0098B9, 1404px 1932px #0098B9, 1923px 1360px #0098B9, 247px 682px #0098B9,
    519px 1708px #0098B9, 645px 750px #0098B9, 1164px 1204px #0098B9, 834px 323px #0098B9,
    172px 1350px #0098B9, 213px 972px #0098B9, 1837px 190px #0098B9, 285px 1806px #0098B9,
    1047px 1299px #0098B9, 1548px 825px #0098B9, 1730px 324px #0098B9, 1346px 1909px #0098B9,
    772px 270px #0098B9, 345px 1190px #0098B9, 478px 1433px #0098B9, 1479px 25px #0098B9,
    1994px 1830px #0098B9, 1744px 732px #0098B9, 20px 1635px #0098B9, 690px 1795px #0098B9,
    1594px 569px #0098B9, 579px 245px #0098B9, 1398px 733px #0098B9, 408px 1352px #0098B9,
    1774px 120px #0098B9, 1152px 1370px #0098B9, 1698px 1810px #0098B9, 710px 1450px #0098B9,
    665px 286px #0098B9, 493px 1720px #0098B9, 786px 5px #0098B9, 637px 1140px #0098B9,
    764px 324px #0098B9, 927px 310px #0098B9, 938px 1424px #0098B9, 1884px 744px #0098B9,
    913px 462px #0098B9, 1831px 1936px #0098B9, 1527px 249px #0098B9, 36px 1381px #0098B9,
    1597px 581px #0098B9, 1530px 355px #0098B9, 949px 459px #0098B9, 799px 828px #0098B9,
    242px 1471px #0098B9, 654px 797px #0098B9, 796px 594px #0098B9, 1365px 678px #0098B9,
    752px 23px #0098B9, 1630px 541px #0098B9, 982px 72px #0098B9, 1733px 1831px #0098B9,
    21px 412px #0098B9, 775px 998px #0098B9, 335px 1945px #0098B9, 264px 583px #0098B9,
    158px 1311px #0098B9, 528px 164px #0098B9, 1978px 574px #0098B9, 717px 1203px #0098B9,
    734px 1591px #0098B9, 1555px 820px #0098B9, 16px 1943px #0098B9, 1625px 1177px #0098B9,
    1236px 690px #0098B9, 1585px 1590px #0098B9, 1737px 1728px #0098B9, 721px 698px #0098B9,
    1804px 1186px #0098B9, 166px 980px #0098B9, 1850px 230px #0098B9, 330px 1712px #0098B9,
    95px 797px #0098B9, 1948px 1078px #0098B9, 469px 939px #0098B9, 1269px 1899px #0098B9,
    955px 1220px #0098B9, 1137px 1075px #0098B9, 312px 1293px #0098B9, 986px 1762px #0098B9,
    1103px 1238px #0098B9, 428px 1993px #0098B9, 355px 570px #0098B9, 977px 1836px #0098B9,
    1395px 1092px #0098B9, 276px 913px #0098B9, 1743px 656px #0098B9, 773px 502px #0098B9,
    1686px 1322px #0098B9, 1516px 1945px #0098B9, 1334px 501px #0098B9, 266px 156px #0098B9,
    455px 655px #0098B9, 798px 72px #0098B9, 1059px 1259px #0098B9, 1402px 1687px #0098B9,
    236px 1329px #0098B9, 1455px 786px #0098B9, 146px 1228px #0098B9, 1851px 823px #0098B9,
    1062px 100px #0098B9, 1220px 953px #0098B9, 20px 1826px #0098B9, 36px 1063px #0098B9,
    1525px 338px #0098B9, 790px 1521px #0098B9, 741px 1099px #0098B9, 288px 1489px #0098B9,
    700px 1060px #0098B9, 390px 1071px #0098B9, 411px 1036px #0098B9, 1853px 1072px #0098B9,
    1446px 1085px #0098B9, 1164px 874px #0098B9, 924px 925px #0098B9, 291px 271px #0098B9,
    1257px 1964px #0098B9, 1580px 1352px #0098B9, 1507px 1216px #0098B9, 211px 956px #0098B9,
    985px 1195px #0098B9, 975px 1640px #0098B9, 518px 101px #0098B9, 663px 1395px #0098B9,
    914px 532px #0098B9, 145px 1320px #0098B9, 69px 1397px #0098B9, 982px 523px #0098B9,
    257px 725px #0098B9, 1599px 831px #0098B9, 1636px 1513px #0098B9, 1250px 1158px #0098B9,
    1132px 604px #0098B9, 183px 102px #0098B9, 1057px 318px #0098B9, 1247px 1835px #0098B9,
    1983px 1110px #0098B9, 1077px 1455px #0098B9, 921px 1770px #0098B9, 806px 1350px #0098B9,
    1938px 1992px #0098B9, 855px 1260px #0098B9, 902px 1345px #0098B9, 658px 1908px #0098B9,
    1845px 679px #0098B9, 712px 1482px #0098B9, 595px 950px #0098B9, 1784px 1992px #0098B9,
    1847px 1785px #0098B9, 691px 1004px #0098B9, 175px 1179px #0098B9, 1666px 1911px #0098B9,
    41px 61px #0098B9, 971px 1080px #0098B9, 1830px 1450px #0098B9, 1351px 1518px #0098B9,
    1257px 99px #0098B9, 1395px 1498px #0098B9, 1117px 252px #0098B9, 1779px 597px #0098B9,
    1346px 729px #0098B9, 1108px 1144px #0098B9, 402px 691px #0098B9, 72px 496px #0098B9,
    1673px 1604px #0098B9, 1497px 974px #0098B9, 1865px 1664px #0098B9, 88px 806px #0098B9,
    918px 77px #0098B9, 244px 1118px #0098B9, 256px 1820px #0098B9, 1851px 1840px #0098B9,
    605px 1851px #0098B9, 634px 383px #0098B9, 865px 37px #0098B9, 943px 1024px #0098B9,
    1951px 177px #0098B9, 1097px 523px #0098B9, 985px 1700px #0098B9, 1243px 122px #0098B9,
    768px 1070px #0098B9, 468px 194px #0098B9, 320px 1867px #0098B9, 1850px 185px #0098B9,
    380px 1616px #0098B9, 468px 1294px #0098B9, 1122px 1743px #0098B9, 884px 299px #0098B9,
    1300px 1917px #0098B9, 1860px 396px #0098B9, 1270px 990px #0098B9, 529px 733px #0098B9,
    1975px 1347px #0098B9, 1885px 685px #0098B9, 226px 506px #0098B9, 651px 878px #0098B9,
    1323px 680px #0098B9, 1284px 680px #0098B9, 238px 1967px #0098B9, 911px 174px #0098B9,
    1111px 521px #0098B9, 1150px 85px #0098B9, 794px 502px #0098B9, 484px 1856px #0098B9,
    1809px 368px #0098B9, 112px 953px #0098B9, 590px 1009px #0098B9, 1655px 311px #0098B9,
    100px 1026px #0098B9, 1803px 352px #0098B9, 865px 306px #0098B9, 1077px 1019px #0098B9,
    1335px 872px #0098B9, 1647px 1298px #0098B9, 1233px 1387px #0098B9, 698px 1036px #0098B9,
    659px 1860px #0098B9, 388px 1412px #0098B9, 1212px 458px #0098B9, 755px 1468px #0098B9,
    696px 1654px #0098B9, 1144px 60px #0098B9;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #0098B9, 1775px 1663px #0098B9, 332px 1364px #0098B9,
    878px 340px #0098B9, 569px 1832px #0098B9, 1422px 1684px #0098B9, 1946px 1907px #0098B9,
    121px 979px #0098B9, 1044px 1069px #0098B9, 463px 381px #0098B9, 423px 112px #0098B9,
    523px 1179px #0098B9, 779px 654px #0098B9, 1398px 694px #0098B9, 1085px 1464px #0098B9,
    1599px 1869px #0098B9, 801px 1882px #0098B9, 779px 1231px #0098B9, 552px 932px #0098B9,
    1057px 1196px #0098B9, 282px 1280px #0098B9, 496px 1986px #0098B9, 1833px 1120px #0098B9,
    1802px 1293px #0098B9, 6px 1696px #0098B9, 412px 1902px #0098B9, 605px 438px #0098B9,
    24px 1212px #0098B9, 234px 1320px #0098B9, 544px 344px #0098B9, 1107px 170px #0098B9,
    1603px 196px #0098B9, 905px 648px #0098B9, 68px 1458px #0098B9, 649px 1969px #0098B9,
    744px 675px #0098B9, 1127px 478px #0098B9, 714px 1814px #0098B9, 1486px 526px #0098B9,
    270px 1636px #0098B9, 1931px 149px #0098B9, 1807px 378px #0098B9, 8px 390px #0098B9,
    1415px 699px #0098B9, 1473px 1211px #0098B9, 1590px 141px #0098B9, 270px 1705px #0098B9,
    69px 1423px #0098B9, 1108px 1053px #0098B9, 1946px 128px #0098B9, 371px 371px #0098B9,
    1490px 220px #0098B9, 357px 1885px #0098B9, 363px 363px #0098B9, 1896px 1256px #0098B9,
    1979px 1050px #0098B9, 947px 1342px #0098B9, 1754px 242px #0098B9, 514px 974px #0098B9,
    65px 1477px #0098B9, 1840px 547px #0098B9, 950px 695px #0098B9, 459px 1150px #0098B9,
    1124px 1502px #0098B9, 481px 940px #0098B9, 680px 839px #0098B9, 797px 1169px #0098B9,
    1977px 1491px #0098B9, 734px 1724px #0098B9, 210px 298px #0098B9, 816px 628px #0098B9,
    686px 770px #0098B9, 1721px 267px #0098B9, 1663px 511px #0098B9, 1481px 1141px #0098B9,
    582px 248px #0098B9, 1308px 953px #0098B9, 628px 657px #0098B9, 897px 1535px #0098B9,
    270px 931px #0098B9, 791px 467px #0098B9, 1336px 1732px #0098B9, 1013px 1653px #0098B9,
    1911px 956px #0098B9, 587px 816px #0098B9, 83px 456px #0098B9, 930px 1478px #0098B9,
    1587px 1694px #0098B9, 614px 1200px #0098B9, 302px 1782px #0098B9, 1711px 1432px #0098B9,
    443px 904px #0098B9, 1666px 714px #0098B9, 1588px 1167px #0098B9, 273px 1075px #0098B9,
    1679px 461px #0098B9, 721px 664px #0098B9, 1202px 10px #0098B9, 166px 1126px #0098B9,
    331px 1628px #0098B9, 430px 1565px #0098B9, 1585px 509px #0098B9, 640px 38px #0098B9,
    822px 837px #0098B9, 1760px 1664px #0098B9, 1122px 1458px #0098B9, 398px 131px #0098B9,
    689px 285px #0098B9, 460px 652px #0098B9, 1627px 365px #0098B9, 348px 1648px #0098B9,
    819px 1946px #0098B9, 981px 1917px #0098B9, 323px 76px #0098B9, 979px 684px #0098B9,
    887px 536px #0098B9, 1348px 1596px #0098B9, 1055px 666px #0098B9, 1402px 1797px #0098B9,
    1300px 1055px #0098B9, 937px 238px #0098B9, 1474px 1815px #0098B9, 1144px 1710px #0098B9,
    1629px 1087px #0098B9, 911px 919px #0098B9, 771px 819px #0098B9, 403px 720px #0098B9,
    163px 736px #0098B9, 1062px 238px #0098B9, 1774px 818px #0098B9, 1874px 1178px #0098B9,
    1177px 699px #0098B9, 1244px 1244px #0098B9, 1371px 58px #0098B9, 564px 1515px #0098B9,
    1824px 487px #0098B9, 929px 702px #0098B9, 394px 1348px #0098B9, 1161px 641px #0098B9,
    219px 1841px #0098B9, 358px 941px #0098B9, 140px 1759px #0098B9, 1019px 1345px #0098B9,
    274px 436px #0098B9, 1433px 1605px #0098B9, 1798px 1426px #0098B9, 294px 1848px #0098B9,
    1681px 1877px #0098B9, 1344px 1824px #0098B9, 1439px 1632px #0098B9,
    161px 1012px #0098B9, 1308px 588px #0098B9, 1789px 582px #0098B9, 721px 1910px #0098B9,
    318px 218px #0098B9, 607px 319px #0098B9, 495px 535px #0098B9, 1552px 1575px #0098B9,
    1562px 67px #0098B9, 403px 926px #0098B9, 1096px 1800px #0098B9, 1814px 1709px #0098B9,
    1882px 1831px #0098B9, 533px 46px #0098B9, 823px 969px #0098B9, 530px 165px #0098B9,
    1030px 352px #0098B9, 1681px 313px #0098B9, 338px 115px #0098B9, 1607px 211px #0098B9,
    1718px 1184px #0098B9, 1589px 659px #0098B9, 278px 355px #0098B9, 464px 1464px #0098B9,
    1165px 277px #0098B9, 950px 694px #0098B9, 1746px 293px #0098B9, 793px 911px #0098B9,
    528px 773px #0098B9, 1883px 1694px #0098B9, 748px 182px #0098B9, 1924px 1531px #0098B9,
    100px 636px #0098B9, 1473px 1445px #0098B9, 1264px 1244px #0098B9, 850px 1377px #0098B9,
    987px 1976px #0098B9, 933px 1761px #0098B9, 922px 1270px #0098B9, 500px 396px #0098B9,
    1324px 8px #0098B9, 1967px 1814px #0098B9, 1072px 1401px #0098B9, 961px 37px #0098B9,
    156px 81px #0098B9, 1915px 502px #0098B9, 1076px 1846px #0098B9, 152px 1669px #0098B9,
    986px 1529px #0098B9, 1667px 1137px #0098B9;
}

#stars2:after {
    content: '';
    position: absolute;
    top: auto;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #0098B9, 1775px 1663px #0098B9, 332px 1364px #0098B9,
    878px 340px #0098B9, 569px 1832px #0098B9, 1422px 1684px #0098B9, 1946px 1907px #0098B9,
    121px 979px #0098B9, 1044px 1069px #0098B9, 463px 381px #0098B9, 423px 112px #0098B9,
    523px 1179px #0098B9, 779px 654px #0098B9, 1398px 694px #0098B9, 1085px 1464px #0098B9,
    1599px 1869px #0098B9, 801px 1882px #0098B9, 779px 1231px #0098B9, 552px 932px #0098B9,
    1057px 1196px #0098B9, 282px 1280px #0098B9, 496px 1986px #0098B9, 1833px 1120px #0098B9,
    1802px 1293px #0098B9, 6px 1696px #0098B9, 412px 1902px #0098B9, 605px 438px #0098B9,
    24px 1212px #0098B9, 234px 1320px #0098B9, 544px 344px #0098B9, 1107px 170px #0098B9,
    1603px 196px #0098B9, 905px 648px #0098B9, 68px 1458px #0098B9, 649px 1969px #0098B9,
    744px 675px #0098B9, 1127px 478px #0098B9, 714px 1814px #0098B9, 1486px 526px #0098B9,
    270px 1636px #0098B9, 1931px 149px #0098B9, 1807px 378px #0098B9, 8px 390px #0098B9,
    1415px 699px #0098B9, 1473px 1211px #0098B9, 1590px 141px #0098B9, 270px 1705px #0098B9,
    69px 1423px #0098B9, 1108px 1053px #0098B9, 1946px 128px #0098B9, 371px 371px #0098B9,
    1490px 220px #0098B9, 357px 1885px #0098B9, 363px 363px #0098B9, 1896px 1256px #0098B9,
    1979px 1050px #0098B9, 947px 1342px #0098B9, 1754px 242px #0098B9, 514px 974px #0098B9,
    65px 1477px #0098B9, 1840px 547px #0098B9, 950px 695px #0098B9, 459px 1150px #0098B9,
    1124px 1502px #0098B9, 481px 940px #0098B9, 680px 839px #0098B9, 797px 1169px #0098B9,
    1977px 1491px #0098B9, 734px 1724px #0098B9, 210px 298px #0098B9, 816px 628px #0098B9,
    686px 770px #0098B9, 1721px 267px #0098B9, 1663px 511px #0098B9, 1481px 1141px #0098B9,
    582px 248px #0098B9, 1308px 953px #0098B9, 628px 657px #0098B9, 897px 1535px #0098B9,
    270px 931px #0098B9, 791px 467px #0098B9, 1336px 1732px #0098B9, 1013px 1653px #0098B9,
    1911px 956px #0098B9, 587px 816px #0098B9, 83px 456px #0098B9, 930px 1478px #0098B9,
    1587px 1694px #0098B9, 614px 1200px #0098B9, 302px 1782px #0098B9, 1711px 1432px #0098B9,
    443px 904px #0098B9, 1666px 714px #0098B9, 1588px 1167px #0098B9, 273px 1075px #0098B9,
    1679px 461px #0098B9, 721px 664px #0098B9, 1202px 10px #0098B9, 166px 1126px #0098B9,
    331px 1628px #0098B9, 430px 1565px #0098B9, 1585px 509px #0098B9, 640px 38px #0098B9,
    822px 837px #0098B9, 1760px 1664px #0098B9, 1122px 1458px #0098B9, 398px 131px #0098B9,
    689px 285px #0098B9, 460px 652px #0098B9, 1627px 365px #0098B9, 348px 1648px #0098B9,
    819px 1946px #0098B9, 981px 1917px #0098B9, 323px 76px #0098B9, 979px 684px #0098B9,
    887px 536px #0098B9, 1348px 1596px #0098B9, 1055px 666px #0098B9, 1402px 1797px #0098B9,
    1300px 1055px #0098B9, 937px 238px #0098B9, 1474px 1815px #0098B9, 1144px 1710px #0098B9,
    1629px 1087px #0098B9, 911px 919px #0098B9, 771px 819px #0098B9, 403px 720px #0098B9,
    163px 736px #0098B9, 1062px 238px #0098B9, 1774px 818px #0098B9, 1874px 1178px #0098B9,
    1177px 699px #0098B9, 1244px 1244px #0098B9, 1371px 58px #0098B9, 564px 1515px #0098B9,
    1824px 487px #0098B9, 929px 702px #0098B9, 394px 1348px #0098B9, 1161px 641px #0098B9,
    219px 1841px #0098B9, 358px 941px #0098B9, 140px 1759px #0098B9, 1019px 1345px #0098B9,
    274px 436px #0098B9, 1433px 1605px #0098B9, 1798px 1426px #0098B9, 294px 1848px #0098B9,
    1681px 1877px #0098B9, 1344px 1824px #0098B9, 1439px 1632px #0098B9,
    161px 1012px #0098B9, 1308px 588px #0098B9, 1789px 582px #0098B9, 721px 1910px #0098B9,
    318px 218px #0098B9, 607px 319px #0098B9, 495px 535px #0098B9, 1552px 1575px #0098B9,
    1562px 67px #0098B9, 403px 926px #0098B9, 1096px 1800px #0098B9, 1814px 1709px #0098B9,
    1882px 1831px #0098B9, 533px 46px #0098B9, 823px 969px #0098B9, 530px 165px #0098B9,
    1030px 352px #0098B9, 1681px 313px #0098B9, 338px 115px #0098B9, 1607px 211px #0098B9,
    1718px 1184px #0098B9, 1589px 659px #0098B9, 278px 355px #0098B9, 464px 1464px #0098B9,
    1165px 277px #0098B9, 950px 694px #0098B9, 1746px 293px #0098B9, 793px 911px #0098B9,
    528px 773px #0098B9, 1883px 1694px #0098B9, 748px 182px #0098B9, 1924px 1531px #0098B9,
    100px 636px #0098B9, 1473px 1445px #0098B9, 1264px 1244px #0098B9, 850px 1377px #0098B9,
    987px 1976px #0098B9, 933px 1761px #0098B9, 922px 1270px #0098B9, 500px 396px #0098B9,
    1324px 8px #0098B9, 1967px 1814px #0098B9, 1072px 1401px #0098B9, 961px 37px #0098B9,
    156px 81px #0098B9, 1915px 502px #0098B9, 1076px 1846px #0098B9, 152px 1669px #0098B9,
    986px 1529px #0098B9, 1667px 1137px #0098B9;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #0098B9, 760px 1564px #0098B9, 1487px 999px #0098B9,
    948px 1828px #0098B9, 1977px 1001px #0098B9, 1284px 1963px #0098B9, 656px 284px #0098B9,
    1268px 1635px #0098B9, 1820px 598px #0098B9, 642px 1900px #0098B9, 296px 57px #0098B9,
    921px 1620px #0098B9, 476px 1858px #0098B9, 658px 613px #0098B9, 1171px 1363px #0098B9,
    1419px 283px #0098B9, 1037px 731px #0098B9, 503px 663px #0098B9, 1562px 463px #0098B9,
    383px 1197px #0098B9, 1171px 1233px #0098B9, 876px 1768px #0098B9, 856px 1615px #0098B9,
    1375px 1924px #0098B9, 1725px 918px #0098B9, 952px 119px #0098B9, 768px 1212px #0098B9,
    992px 1462px #0098B9, 1929px 717px #0098B9, 1947px 755px #0098B9, 1818px 1123px #0098B9,
    1896px 1672px #0098B9, 460px 198px #0098B9, 256px 271px #0098B9, 752px 544px #0098B9,
    1222px 1859px #0098B9, 1851px 443px #0098B9, 313px 1858px #0098B9, 709px 446px #0098B9,
    1546px 697px #0098B9, 674px 1155px #0098B9, 1112px 130px #0098B9, 355px 1790px #0098B9,
    1496px 974px #0098B9, 1696px 480px #0098B9, 1316px 1265px #0098B9, 1645px 1063px #0098B9,
    1182px 237px #0098B9, 427px 1582px #0098B9, 859px 253px #0098B9, 458px 939px #0098B9,
    1517px 1644px #0098B9, 1943px 60px #0098B9, 212px 1650px #0098B9, 966px 1786px #0098B9,
    473px 712px #0098B9, 130px 76px #0098B9, 1417px 1186px #0098B9, 909px 1580px #0098B9,
    1913px 762px #0098B9, 204px 1143px #0098B9, 1998px 1057px #0098B9, 1468px 1301px #0098B9,
    144px 1676px #0098B9, 21px 1601px #0098B9, 382px 1362px #0098B9, 912px 753px #0098B9,
    1488px 1405px #0098B9, 802px 156px #0098B9, 174px 550px #0098B9, 338px 1366px #0098B9,
    1197px 774px #0098B9, 602px 486px #0098B9, 682px 1877px #0098B9, 348px 1503px #0098B9,
    407px 1139px #0098B9, 950px 1400px #0098B9, 922px 1139px #0098B9, 1697px 293px #0098B9,
    1238px 1281px #0098B9, 1038px 1197px #0098B9, 376px 1889px #0098B9,
    1255px 1680px #0098B9, 1008px 1316px #0098B9, 1538px 1447px #0098B9,
    1186px 874px #0098B9, 1967px 640px #0098B9, 1341px 19px #0098B9, 29px 1732px #0098B9,
    16px 1650px #0098B9, 1021px 1075px #0098B9, 723px 424px #0098B9, 1175px 41px #0098B9,
    494px 1957px #0098B9, 1296px 431px #0098B9, 175px 1507px #0098B9, 831px 121px #0098B9,
    498px 1947px #0098B9, 617px 880px #0098B9, 240px 403px #0098B9;
}

#stars3:after {
    content: '';
    position: absolute;
    top: auto;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #0098B9, 760px 1564px #0098B9, 1487px 999px #0098B9,
    948px 1828px #0098B9, 1977px 1001px #0098B9, 1284px 1963px #0098B9, 656px 284px #0098B9,
    1268px 1635px #0098B9, 1820px 598px #0098B9, 642px 1900px #0098B9, 296px 57px #0098B9,
    921px 1620px #0098B9, 476px 1858px #0098B9, 658px 613px #0098B9, 1171px 1363px #0098B9,
    1419px 283px #0098B9, 1037px 731px #0098B9, 503px 663px #0098B9, 1562px 463px #0098B9,
    383px 1197px #0098B9, 1171px 1233px #0098B9, 876px 1768px #0098B9, 856px 1615px #0098B9,
    1375px 1924px #0098B9, 1725px 918px #0098B9, 952px 119px #0098B9, 768px 1212px #0098B9,
    992px 1462px #0098B9, 1929px 717px #0098B9, 1947px 755px #0098B9, 1818px 1123px #0098B9,
    1896px 1672px #0098B9, 460px 198px #0098B9, 256px 271px #0098B9, 752px 544px #0098B9,
    1222px 1859px #0098B9, 1851px 443px #0098B9, 313px 1858px #0098B9, 709px 446px #0098B9,
    1546px 697px #0098B9, 674px 1155px #0098B9, 1112px 130px #0098B9, 355px 1790px #0098B9,
    1496px 974px #0098B9, 1696px 480px #0098B9, 1316px 1265px #0098B9, 1645px 1063px #0098B9,
    1182px 237px #0098B9, 427px 1582px #0098B9, 859px 253px #0098B9, 458px 939px #0098B9,
    1517px 1644px #0098B9, 1943px 60px #0098B9, 212px 1650px #0098B9, 966px 1786px #0098B9,
    473px 712px #0098B9, 130px 76px #0098B9, 1417px 1186px #0098B9, 909px 1580px #0098B9,
    1913px 762px #0098B9, 204px 1143px #0098B9, 1998px 1057px #0098B9, 1468px 1301px #0098B9,
    144px 1676px #0098B9, 21px 1601px #0098B9, 382px 1362px #0098B9, 912px 753px #0098B9,
    1488px 1405px #0098B9, 802px 156px #0098B9, 174px 550px #0098B9, 338px 1366px #0098B9,
    1197px 774px #0098B9, 602px 486px #0098B9, 682px 1877px #0098B9, 348px 1503px #0098B9,
    407px 1139px #0098B9, 950px 1400px #0098B9, 922px 1139px #0098B9, 1697px 293px #0098B9,
    1238px 1281px #0098B9, 1038px 1197px #0098B9, 376px 1889px #0098B9,
    1255px 1680px #0098B9, 1008px 1316px #0098B9, 1538px 1447px #0098B9,
    1186px 874px #0098B9, 1967px 640px #0098B9, 1341px 19px #0098B9, 29px 1732px #0098B9,
    16px 1650px #0098B9, 1021px 1075px #0098B9, 723px 424px #0098B9, 1175px 41px #0098B9,
    494px 1957px #0098B9, 1296px 431px #0098B9, 175px 1507px #0098B9, 831px 121px #0098B9,
    498px 1947px #0098B9, 617px 880px #0098B9, 240px 403px #0098B9;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


